* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  text-transform: capitalize;
  display: grid;
  place-items: center;
  height: 100dvh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  width: 500px;
  height: 400px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.5);
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
input[type="date"] {
  padding: 4px 8px;
  font-size: 14px;
}
.btn {
  padding: 8px 16px;
  text-transform: capitalize;
  background-color: blueviolet;
  color: #fff;
  border: 2px solid blueviolet;
  outline: none;
  border-radius: 6px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn:hover {
  cursor: pointer;
  color: blueviolet;
  background-color: transparent;
}
