* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100dvh;
  text-transform: capitalize;
  background-image: linear-gradient(
    to left top,
    #3e2ce2,
    #863bd7,
    #ac53cf,
    #c66fca,
    #d78dc9
  );
}
.container {
  background-color: antiquewhite;
  color: blueviolet;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  text-align: center;
}
h1 {
  font-size: 50px;
  user-select: none;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
}
h3 {
  font-size: 40px;
  user-select: none;
  border-bottom: 2px solid red;
}
.icons {
  display: flex;
  font-size: 100px;
  gap: 50px;
}
.icon {
  text-align: center;
  background-color: #d78dc9;
  border-radius: 10px;
  padding: 10px;
  width: 120px;
  cursor: pointer;
}
.icon.selected {
  background-color: #863bd7;
}
.icon:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.result,
.score {
  font-size: 30px;
}
.yscore {
  color: green;
}
.cscore {
  color: red;
}
