* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: bisque;
}
body {
  display: flex;

  align-items: flex-start;
  height: 100vh;
  margin: 20px;
}
.image-container img {
  width: 600px;
  height: 600px;
  box-sizing: cover;
}
.body-container {
  margin: 0 20px;
  grid-template-rows: auto 1fr;
}
.content-in {
  display: none;
}
.content-in.live {
  display: block;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.btn {
  border: none;
  background-color: blueviolet;
  color: antiquewhite;
  padding: 20px;
}
.buttons {
  grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(3) {
  border-top-right-radius: 0.5rem;
}

.btn:hover {
  background-color: antiquewhite;
  color: blueviolet;
}

.btn.live {
  background-color: antiquewhite;
  color: blueviolet;
}
